.container2{

     width: 70%;
    height: 70vh;
    border-radius: 2vh;
    /* background-color: #79a7ed; */
   
    padding-top: 2%;
    /* top: 20000%; */
    position: relative;
    left: 15%;
    padding-bottom: 8vh;
    display: flex;
}

.Image{
    height: 100%;
    width: 55%;
    background-color: aliceblue;
   /* border-radius: 2vh; */
}

.Imagealt{
    height: 100%;
    width: 45%;
    background-color: aliceblue;
   border-radius: 2vh;
}
.Image  img{
    margin-top: 4%;
    margin-left:  10%;
}

.projectDetails{
    height: 100%;
    width: 55%;
    background-color: beige;
       
       
}

.firstImage{
            border-top-left-radius: 2vh;
       border-bottom-left-radius: 2vh;
}



.project1{
    border-top-right-radius: 2vh;
       border-bottom-right-radius: 2vh;
}
/* 
#project2{
    border-top-left-radius: 2vh;
       border-bottom-left-radius: 2vh;
} */


.projectDetails h1{
            position: relative;
            top: 4%;
            left: 6%;
}

.projectDetails .first-p{
    position: relative;
    top: 5%;
    left: 6%;
    width: 90%;

}

.projectDetails .first-p{
    position: relative;
    top: 5%;
    left: 6%;
    width: 90%;

}

.projectDetails div{
             position: relative;
            height: 5%;
            width: 17%;
            background-color: #0e020262;
            top: 6%;
             left: 6%;
             padding-top: 3px;
             /* padding: 2px 2px 2px 2px; */
             border-radius: 5vh;
             font-size: 0.7rem;
             text-align: center;
}

.second-p{
    position: relative;
    top: 7.8%;
    left: 6%;
    height: 36vh;
    width: 90%;
    justify-content: center;
}

#learn-more{
    height: 7%;
    width: 19%;
    border-radius: 1vh;
    border: 1.5px solid #027CF2;
    background-color: white;
    position: relative;
    top: 0%;
    left: 6%;
    color: #027CF2;
    font-size: 900;
     transition: 2s;
}

#learn-more:hover{
    cursor: pointer;
    transition: 1s;
    color: white;
    background-color: #027CF2;
    opacity: 1;
      box-shadow: 0px 0px 10px 7px  rgb(186, 221, 235);
      border: none;
      border-radius: 2vh;
}

